model/
data/
dataset/
.ipynb_*
**/*unsloth*/
**/*tmp*/
**/*__pycache__*/
__pycache__/
*.pyc
.env
drawing-with-llms/
lora/
outputs/
mlruns/
reports/
io_files/**
#*.csv
star-vector/**
*.txt
*.png
*.jpg
*.jpeg
.*
